In [1]:
from bs4 import BeautifulSoup
from splinter import Browser
import pymongo
import pandas as pd
import requests
from sqlalchemy import create_engine

In [2]:
executable_path = {'executable_path': '/Applications/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
t92 = "https://es.wikipedia.org/wiki/Premier_League_1992-93"
s92 = pd.read_html(t92)
df92=s92[4]
df92=df92[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Puntos']].copy()
df92.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df92['Season'] = "1992-93"
df92['Standing'] = df92.index + 1
df92=df92.set_index('Team')
print(df92.info())
df92

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, Manchester United to Nottingham Forest
Data columns (total 10 columns):
GP          22 non-null int64
W           22 non-null int64
L           22 non-null int64
D           22 non-null int64
GF          22 non-null int64
GA          22 non-null int64
Dif         22 non-null int64
P           22 non-null int64
Season      22 non-null object
Standing    22 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.9+ KB
None

                     GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester United    42  24  12   6  67  31   36  84  1992-93         1
Aston Villa          42  21  11  10  57  40   17  74  1992-93         2
Norwich City         42  21   9  12  61  65   -4  72  1992-93         3
Blackburn Rovers     42  20  11  11  68  46   22  71  1992-93         4
Queens Park Rangers  42  17  12  13  63  55    8  63  1992-93         5
Liverpool            42  16  11  15  62  55    7  59  1992-93         6
Sheffield Wednesday  42  15  14  13  55  51    4  59  1992-93         7
Tottenham Hotspur    42  16  11  15  60  66   -6  59  1992-93         8
Manchester City      42  15  12  15  56  51    5  57  1992-93         9
Arsenal              42  15  11  16  40  38    2  56  1992-93        10
Chelsea              42  14  14  14  51  54   -3  56  1992-93        11
Wimbledon            42  14  12  16  56  55    1  54  1992-93        12
Everton              42  15   8  19  53  55   -2  53  1992-93        13
Sheffield United     42  14  10  18  54  53    1  52  1992-93        14
Coventry City        42  13  13  16  52  57   -5  52  1992-93        15
Ipswich Town         42  12  16  14  50  55   -5  52  1992-93        16
Leeds United         42  12  15  15  57  62   -5  51  1992-93        17
Southampton          42  13  11  18  54  61   -7  50  1992-93        18
Oldham Athletic      42  13  10  19  63  74  -11  49  1992-93        19
Crystal Palace       42  11  16  15  48  61  -13  49  1992-93        20
Middlesbrough        42  11  11  20  54  75  -21  44  1992-93        21
Nottingham Forest    42  10  10  22  41  62  -21  40  1992-93        22

In [4]:
t93 = "https://es.wikipedia.org/wiki/Premier_League_1993-94"
s93 = pd.read_html(t93)
df93=s93[3]
df93=df93[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Puntos']].copy()
df93.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df93.at[0,'Team']="Macnhester United" 
df93['Season'] = "1993-94"
df93['Standing'] = df93.index + 1
df93=df93.set_index('Team')
print(df93.info())
df93

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, Macnhester United to Swindon Town
Data columns (total 10 columns):
GP          22 non-null int64
W           22 non-null int64
L           22 non-null int64
D           22 non-null int64
GF          22 non-null int64
GA          22 non-null int64
Dif         22 non-null int64
P           22 non-null int64
Season      22 non-null object
Standing    22 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.9+ KB
None

                     GP   W   L   D  GF   GA  Dif   P   Season  Standing
Team
Macnhester United    42  27  11   4  80   38   42  92  1993-94         1
Blackburn Rovers     42  25   9   8  63   36   27  84  1993-94         2
Newcastle United     42  23   8  11  82   41   41  77  1993-94         3
Arsenal              42  18  17   7  53   28   25  71  1993-94         4
Leeds United         42  18  16   8  65   39   26  70  1993-94         5
Wimbledon            42  18  11  13  56   53    3  65  1993-94         6
Sheffield Wednesday  42  16  16  10  76   54   22  64  1993-94         7
Liverpool            42  17   9  16  59   55    4  60  1993-94         8
Queens Park Rangers  42  16  12  14  62   61    1  60  1993-94         9
Aston Villa          42  15  12  15  46   50   -4  57  1993-94        10
Coventry City        42  14  14  14  43   45   -2  56  1993-94        11
Norwich City         42  12  17  13  65   61    4  53  1993-94        12
West Ham United      42  13  13  16  47   58  -11  52  1993-94        13
Chelsea              42  13  12  17  49   53   -4  51  1993-94        14
Tottenham Hotspur    42  11  12  19  54   59   -5  45  1993-94        15
Manchester City      42   9  18  15  38   49  -11  45  1993-94        16
Everton              42  12   8  22  42   63  -21  44  1993-94        17
Southampton          42  12   7  23  49   66  -17  43  1993-94        18
Ipswich Town         42   9  16  17  35   58  -23  43  1993-94        19
Sheffield United     42   8  18  16  42   60  -18  42  1993-94        20
Oldham Athletic      42   9  13  20  42   68  -26  40  1993-94        21
Swindon Town         42   5  15  22  47  100  -53  30  1993-94        22

In [5]:
t94 = "https://es.wikipedia.org/wiki/Premier_League_1994-95"
s94 = pd.read_html(t94)
df94=s94[2]
df94['Diferencia'] = df94['GF'] - df94['GC']
df94=df94[['Equipo', 'PJ','G', 'E','P','GF', 'GC', 'Diferencia','Pts.']].copy()
df94.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df94.at[0,'Team']="Blackburn Rovers" 
df94.at[14,'Team']="Everton" 
df94['Season'] = "1994-95"
df94['Standing'] = df94.index + 1
df94=df94.set_index('Team')
print(df94.info())
df94

<class 'pandas.core.frame.DataFrame'>
Index: 22 entries, Blackburn Rovers to Ipswich Town
Data columns (total 10 columns):
GP          22 non-null int64
W           22 non-null int64
L           22 non-null int64
D           22 non-null int64
GF          22 non-null int64
GA          22 non-null int64
Dif         22 non-null int64
P           22 non-null int64
Season      22 non-null object
Standing    22 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.9+ KB
None

                     GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Blackburn Rovers     42  27   8   7  80  39   41  89  1994-95         1
Manchester United    42  26  10   6  77  28   49  88  1994-95         2
Nottingham Forest    42  22  11   9  72  49   23  77  1994-95         3
Liverpool            42  21  11  10  65  37   28  74  1994-95         4
Leeds United         42  20  13   9  59  38   21  73  1994-95         5
Newcastle United     42  20  12  10  67  47   20  72  1994-95         6
Tottenham Hotspur    42  16  14  12  66  58    8  62  1994-95         7
Queens Park Rangers  42  17   9  16  61  59    2  60  1994-95         8
Wimbledon            42  15  11  16  48  65  -17  56  1994-95         9
Southampton          42  12  18  12  61  63   -2  54  1994-95        10
Chelsea              42  13  15  14  50  55   -5  54  1994-95        11
Arsenal              42  13  12  17  52  49    3  51  1994-95        12
Sheffield Wednesday  42  13  12  17  49  57   -8  51  1994-95        13
West Ham United      42  13  11  18  44  48   -4  50  1994-95        14
Everton              42  11  17  14  44  51   -7  50  1994-95        15
Coventry City        42  12  14  16  44  62  -18  50  1994-95        16
Manchester City      42  12  13  17  53  64  -11  49  1994-95        17
Aston Villa          42  11  15  16  51  56   -5  48  1994-95        18
Crystal Palace       42  11  12  19  34  49  -15  45  1994-95        19
Norwich City         42  10  13  19  37  54  -17  43  1994-95        20
Leicester City       42   6  11  25  45  80  -35  29  1994-95        21
Ipswich Town         42   7   6  29  36  93  -57  27  1994-95        22

In [6]:
t95 = "https://es.wikipedia.org/wiki/Premier_League_1995-96"
s95 = pd.read_html(t95)
df95=s95[0]
df95=df95[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Puntos']].copy()
df95.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df95.at[0,'Team']="Macnhester United" 
df95['Season'] = "1995-96"
df95['Standing'] = df95.index + 1
df95=df95.set_index('Team')
print(df95.info())
df95

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Macnhester United to Bolton Wanderers
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                     GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Macnhester United    38  25   7   6  73  35   38  82  1995-96         1
Newcastle United     38  24   6   8  66  37   29  78  1995-96         2
Liverpool            38  20  11   7  70  34   36  71  1995-96         3
Aston Villa          38  18   9  11  52  35   17  63  1995-96         4
Arsenal              38  17  12   9  49  32   17  63  1995-96         5
Everton              38  17  10  11  64  44   20  61  1995-96         6
Blackburn Rovers     38  18   7  13  61  47   14  61  1995-96         7
Tottenham Hotspur    38  16  13   9  50  38   12  61  1995-96         8
Nottingham Forest    38  15  13  10  50  54   -4  58  1995-96         9
West Ham United      38  14   9  15  43  52   -9  51  1995-96        10
Chelsea              38  12  14  12  46  44    2  50  1995-96        11
Middlesbrough        38  11  10  17  35  50  -15  43  1995-96        12
Leeds United         38  12   7  19  40  57  -17  43  1995-96        13
Wimbledon            38  10  11  17  55  70  -15  41  1995-96        14
Sheffield Wednesday  38  10  10  18  48  61  -13  40  1995-96        15
Coventry City        38   8  14  16  42  60  -18  38  1995-96        16
Southampton          38   9  11  18  34  52  -18  38  1995-96        17
Manchester City      38   9  11  18  33  58  -25  38  1995-96        18
Queens Park Rangers  38   9   6  23  38  57  -19  33  1995-96        19
Bolton Wanderers     38   8   5  25  39  71  -32  29  1995-96        20

In [7]:
t96 = "https://es.wikipedia.org/wiki/Premier_League_1996-97"
s96 = pd.read_html(t96)
df96=s96[2]
df96['Points'] = (3*df96['PG']) + (1*df96['PE'])
df96=df96[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Points']].copy()
df96.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df96.at[0,'Team']="Macnhester United" 
df96['Season'] = "1996-97"
df96['Standing'] = df96.index + 1
df96=df96.set_index('Team')
print(df96.info())
df96

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Macnhester United to Nottingham Forest
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                     GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Macnhester United    38  21  12   5  76  44   32  75  1996-97         1
Newcastle United     38  19  11   8  73  40   33  68  1996-97         2
Arsenal              38  19  11   8  62  32   30  68  1996-97         3
Liverpool            38  19  11   8  62  37   25  68  1996-97         4
Aston Villa          38  17  10  11  47  34   13  61  1996-97         5
Chelsea              38  16  11  11  58  55    3  59  1996-97         6
Sheffield Wednesday  38  14  15   9  50  51   -1  57  1996-97         7
Wimbledon            38  15  11  12  49  46    3  56  1996-97         8
Leicester City       38  12  11  15  46  54   -8  47  1996-97         9
Tottenham Hotspur    38  13   7  18  44  51   -7  46  1996-97        10
Leeds United         38  11  13  14  28  38  -10  46  1996-97        11
Derby County         38  11  13  14  45  58  -13  46  1996-97        12
Blackburn Rovers     38   9  15  14  42  43   -1  42  1996-97        13
West Ham United      38  10  12  16  39  48   -9  42  1996-97        14
Everton              38  10  12  16  44  57  -13  42  1996-97        15
Southampton          38  10  11  17  50  56   -6  41  1996-97        16
Coventry City        38   9  14  15  38  54  -16  41  1996-97        17
Sunderland           38  10  10  18  35  53  -18  40  1996-97        18
Middlesbrough        38  10  12  16  51  60   -9  42  1996-97        19
Nottingham Forest    38   6  16  16  31  59  -28  34  1996-97        20

In [8]:
t97 = "https://es.wikipedia.org/wiki/Premier_League_1997-98"
s97 = pd.read_html(t97)
df97=s97[0]
df97=df97[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Puntos']].copy()
df97.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df97.at[0,'Team']="Arsenal" 
df97.at[19,'Team']="Crystal Palace" 
df97['Season'] = "1997-98"
df97['Standing'] = df97.index + 1
df97=df97.set_index('Team')
print(df97.info())
df97

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Arsenal to Crystal Palace
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                     GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Arsenal              38  23   9   6  68  33   35  78  1997-98         1
Manchester United    38  23   8   7  73  26   47  77  1997-98         2
Liverpool            38  18  11   9  68  42   26  65  1997-98         3
Chelsea              38  20   3  15  71  43   28  63  1997-98         4
Leeds United         38  17   8  13  57  46   11  59  1997-98         5
Blackburn Rovers     38  16  10  12  57  52    5  58  1997-98         6
Aston Villa          38  17   6  15  49  48    1  57  1997-98         7
West Ham United      38  16   8  14  56  57   -1  56  1997-98         8
Derby County         38  16   7  15  52  49    3  55  1997-98         9
Leicester City       38  13  14  11  51  41   10  53  1997-98        10
Coventry City        38  12  16  10  46  44    2  52  1997-98        11
Southampton          38  14   6  18  50  55   -5  48  1997-98        12
Newcastle United     38  11  11  16  35  44   -9  44  1997-98        13
Tottenham Hotspur    38  11  11  16  44  56  -12  44  1997-98        14
Wimbledon            38  10  14  14  34  46  -12  44  1997-98        15
Sheffield Wednesday  38  12   8  18  52  67  -15  44  1997-98        16
Everton              38   9  13  16  41  56  -15  40  1997-98        17
Bolton Wanderers     38   9  13  16  41  61  -20  40  1997-98        18
Barnsley             38  10   5  23  37  82  -45  35  1997-98        19
Crystal Palace       38   8   9  21  37  71  -34  32  1997-98        20

In [9]:
t98 = "https://es.wikipedia.org/wiki/Premier_League_1998-99"
s98 = pd.read_html(t98)
df98=s98[0]
df98=df98[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Puntos']].copy()
df98.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df98.at[0,'Team']="Manchester United" 
df98['Season'] = "1998-99"
df98['Standing'] = df98.index + 1
df98=df98.set_index('Team')
print(df98.info())
df98

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester United to Nottingham Forest
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                     GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester United    38  22  13   3  80  37   43  79  1998-99         1
Arsenal              38  22  12   4  59  17   42  78  1998-99         2
Chelsea              38  20  15   3  57  30   27  75  1998-99         3
Leeds United         38  18  13   7  62  34   28  67  1998-99         4
West Ham United      38  16   9  13  46  53   -7  57  1998-99         5
Aston Villa          38  15  10  13  55  51    4  55  1998-99         6
Liverpool            38  15   9  14  68  49   19  54  1998-99         7
Derby County         38  13  13  12  40  45   -5  52  1998-99         8
Middlesbrough        38  12  15  11  48  54   -6  51  1998-99         9
Leicester City       38  12  13  13  40  46   -6  49  1998-99        10
Tottenham Hotspur    38  11  14  13  47  50   -3  47  1998-99        11
Sheffield Wednesday  38  13   7  18  41  42   -1  46  1998-99        12
Newcastle United     38  11  13  14  48  54   -6  46  1998-99        13
Everton              38  11  10  17  42  47   -5  43  1998-99        14
Coventry City        38  11   9  18  39  51  -12  42  1998-99        15
Wimbledon            38  10  12  16  40  63  -23  42  1998-99        16
Southampton          38  11   8  19  37  64  -27  41  1998-99        17
Charlton Athletic    38   8  12  18  41  56  -15  36  1998-99        18
Blackburn Rovers     38   7  14  17  38  52  -14  35  1998-99        19
Nottingham Forest    38   7   9  22  35  69  -34  30  1998-99        20

In [10]:
t99 = "https://es.wikipedia.org/wiki/Premier_League_1999-2000"
s99 = pd.read_html(t99)
df99=s99[0]
df99=df99[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Puntos']].copy()
df99.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df99.at[0,'Team']="Manchester United" 
df99['Season'] = "1999-00"
df99['Standing'] = df99.index + 1
df99=df99.set_index('Team')
print(df99.info())
df99

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester United to Watford
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                     GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester United    38  28   7   3  97  45   52  91  1999-00         1
Arsenal              38  22   7   9  73  43   30  73  1999-00         2
Leeds United         38  21   6  11  58  43   15  69  1999-00         3
Liverpool            38  19  10   9  51  30   21  67  1999-00         4
Chelsea              38  18  11   9  53  34   19  65  1999-00         5
Aston Villa          38  15  13  10  46  35   11  58  1999-00         6
Sunderland           38  16  10  12  57  56    1  58  1999-00         7
Leicester City       38  16   7  15  55  55    0  55  1999-00         8
West Ham United      38  15  10  13  52  53   -1  55  1999-00         9
Tottenham Hotspur    38  15   8  15  57  49    8  53  1999-00        10
Newcastle United     38  14  10  14  63  54    9  52  1999-00        11
Middlesbrough        38  14  10  14  46  52   -6  52  1999-00        12
Everton              38  12  14  12  59  49   10  50  1999-00        13
Coventry City        38  12   8  18  47  54   -7  44  1999-00        14
Southampton          38  12   8  18  45  62  -17  44  1999-00        15
Derby County         38   9  11  18  44  57  -13  38  1999-00        16
Bradford City        38   9   9  20  38  68  -30  36  1999-00        17
Wimbledon            38   7  12  19  46  74  -28  33  1999-00        18
Sheffield Wednesday  38   8   7  23  38  70  -32  31  1999-00        19
Watford              38   6   6  26  35  77  -42  24  1999-00        20

In [11]:
t00 = "https://es.wikipedia.org/wiki/Premier_League_2000-01"
s00 = pd.read_html(t00)
df00=s00[0]
df00['Dif.'] = df00['GF'] - df00['GC']
df00=df00[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Pts.']].copy()
df00.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df00['Season'] = "2000-01"
df00['Standing'] = df00.index + 1
df00=df00.set_index('Team')
print(df00.info())
df00

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester United to Bradford City
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                   GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester United  38  24   8   6  79  31   48  80  2000-01         1
Arsenal            38  20  10   8  63  38   25  70  2000-01         2
Liverpool          38  20   9   9  71  39   32  69  2000-01         3
Leeds United       38  20   8  10  64  43   21  68  2000-01         4
Ipswich Town       38  20   6  12  57  42   15  66  2000-01         5
Chelsea            38  17  10  11  68  45   23  61  2000-01         6
Sunderland         38  15  12  11  46  41    5  57  2000-01         7
Aston Villa        38  13  15  10  46  43    3  54  2000-01         8
Charlton Athletic  38  14  10  14  50  57   -7  52  2000-01         9
Southampton        38  14  10  14  40  48   -8  52  2000-01        10
Newcastle United   38  14   9  15  44  50   -6  51  2000-01        11
Tottenham Hotspur  38  13  10  15  47  54   -7  49  2000-01        12
Leicester City     38  14   6  18  39  51  -12  48  2000-01        13
Middlesbrough      38   9  15  14  44  44    0  42  2000-01        14
West Ham United    38  10  12  16  45  50   -5  42  2000-01        15
Everton            38  11   9  18  45  59  -14  42  2000-01        16
Derby County       38  10  12  16  37  59  -22  42  2000-01        17
Manchester City    38   8  10  20  41  65  -24  34  2000-01        18
Coventry City      38   8  10  20  36  63  -27  34  2000-01        19
Bradford City      38   5  11  22  30  70  -40  26  2000-01        20

In [12]:
t01 = "https://es.wikipedia.org/wiki/Premier_League_2001-02"
s01 = pd.read_html(t01)
df01=s01[0]
df01['Diferencia'] = df01['GF'] - df01['GC']
df01=df01[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Diferencia','Pts']].copy()
df01.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df01['Season'] = "2001-02"
df01['Standing'] = df01.index + 1
df01=df01.set_index('Team')
print(df01.info())
df01

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Arsenal to Leicester City
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                   GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Arsenal            38  26   9   3  79  36   43  87  2001-02         1
Liverpool          38  24   8   6  67  30   37  80  2001-02         2
Manchester United  38  24   5   9  87  45   42  77  2001-02         3
Newcastle United   38  21   8   9  74  52   22  71  2001-02         4
Leeds United       38  18  12   8  53  37   16  66  2001-02         5
Chelsea            38  17  13   8  66  38   28  64  2001-02         6
West Ham United    38  15   8  15  48  57   -9  53  2001-02         7
Aston Villa        38  12  14  12  46  47   -1  50  2001-02         8
Tottenham Hotspur  38  14   8  16  49  53   -4  50  2001-02         9
Blackburn Rovers   38  12  10  16  55  51    4  46  2001-02        10
Southampton        38  12   9  17  46  54   -8  45  2001-02        11
Middlesbrough      38  12   9  17  35  47  -12  45  2001-02        12
Fulham             38  10  14  14  36  44   -8  44  2001-02        13
Charlton Athletic  38  10  14  14  38  49  -11  44  2001-02        14
Everton            38  11  10  17  45  57  -12  43  2001-02        15
Bolton Wanderers   38   9  13  16  44  62  -18  40  2001-02        16
Sunderland         38  10  10  18  29  51  -22  40  2001-02        17
Ipswich Town       38   9   9  20  41  64  -23  36  2001-02        18
Derby County       38   8   6  24  33  63  -30  30  2001-02        19
Leicester City     38   5  13  20  30  64  -34  28  2001-02        20

In [13]:
t02 = "https://es.wikipedia.org/wiki/Premier_League_2002-03"
s02 = pd.read_html(t02)
df02=s02[7]
df02['Diferencia'] = df02['GF'] - df02['GC']
df02=df02[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Diferencia','PTS']].copy()
df02.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df02['Season'] = "2002-03"
df02['Standing'] = df02.index + 1
df02=df02.set_index('Team')
print(df02.info())
df02

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester United to Sunderland
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                      GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester United     38  25   8   5  74  34   40  83  2002-03         1
Arsenal               38  23   9   6  85  42   43  78  2002-03         2
Newcastle United      38  21   6  11  63  48   15  69  2002-03         3
Chelsea               38  19  10   9  68  38   30  67  2002-03         4
Liverpool             38  18  10  10  61  41   20  64  2002-03         5
Blackburn Rovers      38  16  12  10  52  43    9  60  2002-03         6
Everton               38  17   8  13  48  49   -1  59  2002-03         7
Southampton           38  13  13  12  43  46   -3  52  2002-03         8
Manchester City       38  15   6  17  47  54   -7  51  2002-03         9
Tottenham Hotspur     38  14   8  16  51  62  -11  50  2002-03        10
Middlesbrough         38  13  10  15  48  44    4  49  2002-03        11
Charlton Athletic     38  14   7  17  45  56  -11  49  2002-03        12
Birmingham City       38  13   9  16  41  49   -8  48  2002-03        13
Fulham                38  13   9  16  41  50   -9  48  2002-03        14
Leeds United          38  14   5  19  58  57    1  47  2002-03        15
Aston Villa           38  12   9  17  42  47   -5  45  2002-03        16
Bolton Wanderers      38  10  14  14  41  51  -10  44  2002-03        17
West Ham United       38  10  12  16  42  59  -17  42  2002-03        18
West Bromwich Albion  38   6   8  24  29  65  -36  26  2002-03        19
Sunderland            38   4   7  27  21  65  -44  19  2002-03        20

In [14]:
t03 = "https://es.wikipedia.org/wiki/Premier_League_2003-04"
s03 = pd.read_html(t03)
df03=s03[6]
df03['Diferencia'] = df03['GF'] - df03['GC']
df03=df03[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Diferencia','PTS']].copy()
df03.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df03.at[0,'Team']="Arsenal" 
df03.at[17,'Team']="Leicester City"
df03.at[18,'Team']="Leeds United"
df03.at[19,'Team']="Wolverhampton Wanderers"
df03['Season'] = "2003-04"
df03['Standing'] = df03.index + 1
df03=df03.set_index('Team')
print(df03.info())
df03

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Arsenal to Wolverhampton Wanderers
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                         GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Arsenal                  38  26  12   0  73  26   47  90  2003-04         1
Chelsea                  38  24   7   7  67  30   37  79  2003-04         2
Manchester United        38  23   6   9  64  35   29  75  2003-04         3
Liverpool                38  16  12  10  55  37   18  60  2003-04         4
Newcastle United         38  13  17   8  52  40   12  56  2003-04         5
Aston Villa              38  15  11  12  48  44    4  56  2003-04         6
Charlton Athletic        38  14  11  13  51  51    0  53  2003-04         7
Bolton Wanderers         38  14  11  13  48  56   -8  53  2003-04         8
Fulham                   38  14  10  14  52  46    6  52  2003-04         9
Birmingham City          38  12  14  12  43  48   -5  50  2003-04        10
Middlesbrough            38  13   9  16  44  52   -8  48  2003-04        11
Southampton              38  12  11  15  44  45   -1  47  2003-04        12
Portsmouth               38  12   9  17  47  54   -7  45  2003-04        13
Tottenham Hotspur        38  13   6  19  47  57  -10  45  2003-04        14
Blackburn Rovers         38  12   8  18  51  59   -8  44  2003-04        15
Manchester City          38   9  14  15  55  54    1  41  2003-04        16
Everton                  38   9  12  17  45  57  -12  39  2003-04        17
Leicester City           38   6  15  17  48  65  -17  33  2003-04        18
Leeds United             38   8   9  21  40  79  -39  33  2003-04        19
Wolverhampton Wanderers  38   7  12  19  38  77  -39  33  2003-04        20

In [15]:
t04 = "https://es.wikipedia.org/wiki/Premier_League_2004-05"
s04 = pd.read_html(t04)
df04=s04[5]
df04['Diferencia'] = df04['GF'] - df04['GC']
df04=df04[['Equipo', 'PJ','G', 'E','P','GF', 'GC', 'Diferencia','Pts']].copy()
df04.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df04.at[0,'Team']="Chelsea" 
df04['Season'] = "2004-05"
df04['Standing'] = df04.index + 1
df04=df04.set_index('Team')
print(df04.info())
df04

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Chelsea to Southampton
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                      GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Chelsea               38  29   8   1  72  15   57  95  2004-05         1
Arsenal               38  25   8   5  87  35   52  83  2004-05         2
Manchester United     38  22  11   5  58  26   32  77  2004-05         3
Everton               38  18   7  13  45  46   -1  61  2004-05         4
Liverpool             38  17   7  14  52  41   11  58  2004-05         5
Bolton Wanderers      38  16  10  12  49  44    5  58  2004-05         6
Middlesbrough         38  14  13  11  53  46    7  55  2004-05         7
Manchester City       38  13  13  12  47  39    8  52  2004-05         8
Tottenham Hotspur     38  14  10  14  47  41    6  52  2004-05         9
Aston Villa           38  12  11  15  45  52   -7  47  2004-05        10
Charlton Athletic     38  12  10  16  42  58  -16  46  2004-05        11
Birmingham City       38  11  12  15  40  46   -6  45  2004-05        12
Fulham                38  12   8  18  52  60   -8  44  2004-05        13
Newcastle United      38  10  14  14  47  57  -10  44  2004-05        14
Blackburn Rovers      38   9  15  14  32  43  -11  42  2004-05        15
Portsmouth            38  10   9  19  43  59  -16  39  2004-05        16
West Bromwich Albion  38   6  16  16  36  61  -25  34  2004-05        17
Crystal Palace        38   7  12  19  41  62  -21  33  2004-05        18
Norwich City          38   7  12  19  42  77  -35  33  2004-05        19
Southampton           38   6  14  18  45  66  -21  32  2004-05        20

In [16]:
t05 = "https://es.wikipedia.org/wiki/Premier_League_2005-06"
s05 = pd.read_html(t05)
df05=s05[0]
df05=df05[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'DG','Pts']].copy()
df05.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df05['Season'] = "2005-06"
df05['Standing'] = df05.index + 1
df05=df05.set_index('Team')
print(df05.info())
df05

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Chelsea to Sunderland
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                      GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Chelsea               38  29   4   5  72  22   50  91  2005-06         1
Manchester United     38  25   8   5  72  34   38  83  2005-06         2
Liverpool             38  25   7   6  57  25   32  82  2005-06         3
Arsenal               38  20   7  11  68  31   37  67  2005-06         4
Tottenham Hotspur     38  18  11   9  53  38   15  65  2005-06         5
Blackburn Rovers      38  19   6  13  51  42    9  63  2005-06         6
Newcastle United      38  17   7  14  47  42    5  58  2005-06         7
Bolton Wanderers      38  15  11  12  49  41    8  56  2005-06         8
West Ham United       38  16   7  15  52  55   -3  55  2005-06         9
Wigan Athletic        38  15   6  17  45  52   -7  51  2005-06        10
Everton               38  14   8  16  34  49  -15  50  2005-06        11
Fulham                38  14   6  18  48  58  -10  48  2005-06        12
Charlton Athletic     38  13   8  17  41  55  -14  47  2005-06        13
Middlesbrough         38  12   9  17  48  58  -10  45  2005-06        14
Manchester City       38  13   4  21  43  48   -5  43  2005-06        15
Aston Villa           38  10  12  16  42  55  -13  42  2005-06        16
Portsmouth            38  10   8  20  37  62  -25  38  2005-06        17
Birmingham City       38   8  10  20  28  50  -22  34  2005-06        18
West Bromwich Albion  38   7   9  22  31  58  -27  30  2005-06        19
Sunderland            38   3   6  29  26  69  -43  15  2005-06        20

In [17]:
t06 = "https://es.wikipedia.org/wiki/Premier_League_2006-07"
s06 = pd.read_html(t06)
df06=s06[0]
df06=df06[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Puntos']].copy()
df06.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df06.at[0,'Team']="Manchester United" 
df06['Season'] = "2006-07"
df06['Standing'] = df06.index + 1
df06=df06.set_index('Team')
print(df06.info())
df06

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester United to Watford
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                   GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester United  38  28   5   5  83  27   56  89  2006-07         1
Chelsea            38  24  11   3  64  24   40  83  2006-07         2
Liverpool          38  20   8  10  57  27   30  68  2006-07         3
Arsenal            38  19  11   8  63  35   28  68  2006-07         4
Tottenham          38  17   9  12  57  54    3  60  2006-07         5
Everton            38  15  13  10  52  36   16  58  2006-07         6
Bolton Wanderers   38  16   8  14  47  52   -5  56  2006-07         7
Reading            38  16   7  15  52  47    5  55  2006-07         8
Portsmouth         38  14  12  12  45  42    3  54  2006-07         9
Blackburn Rovers   38  15   7  16  52  54   -2  52  2006-07        10
Aston Villa        38  11  17  10  43  41    2  50  2006-07        11
Middlesbrough      38  12  10  16  44  49   -5  46  2006-07        12
Newcastle United   38  11  10  17  38  47   -9  43  2006-07        13
Manchester City    38  11   9  18  29  44  -15  42  2006-07        14
West Ham United    38  12   5  21  35  59  -24  41  2006-07        15
Fulham             38   8  15  15  38  60  -22  39  2006-07        16
Wigan Athletic     38  10   8  20  37  59  -22  38  2006-07        17
Sheffield United   38  10   8  20  32  55  -23  38  2006-07        18
Charlton Athletic  38   8  10  20  34  60  -26  34  2006-07        19
Watford            38   5  13  20  29  59  -30  28  2006-07        20

In [18]:
t07 = "https://es.wikipedia.org/wiki/Premier_League_2007-08"
s07 = pd.read_html(t07)
df07=s07[3]
df07=df07[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Puntos']].copy()
df07.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df07.at[0,'Team']="Manchester United" 
df07['Season'] = "2007-08"
df07['Standing'] = df07.index + 1
df07=df07.set_index('Team')
print(df07.info())
df07

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester United to Derby County
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                   GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester United  38  27   6   5  80  22   58  87  2007-08         1
Chelsea            38  25  10   3  65  26   39  85  2007-08         2
Arsenal            38  24  11   3  74  31   43  83  2007-08         3
Liverpool          38  21  13   4  67  28   39  76  2007-08         4
Everton            38  19   8  11  55  33   22  65  2007-08         5
Aston Villa        38  16  12  10  71  51   20  60  2007-08         6
Blackburn Rovers   38  15  13  10  50  48    2  58  2007-08         7
Portsmouth         38  16   9  13  48  40    8  57  2007-08         8
Manchester City    38  15  10  13  45  53   -8  55  2007-08         9
West Ham United    38  13  10  15  42  50   -8  49  2007-08        10
Tottenham Hotspur  38  11  13  14  66  61    5  46  2007-08        11
Newcastle United   38  11  10  17  45  65  -20  43  2007-08        12
Middlesbrough      38  10  12  16  43  53  -10  42  2007-08        13
Wigan Athletic     38  10  10  18  34  51  -17  40  2007-08        14
Sunderland         38  11   6  21  36  59  -23  39  2007-08        15
Bolton Wanderers   38   9  10  19  36  54  -18  37  2007-08        16
Fulham             38   8  12  18  38  60  -22  36  2007-08        17
Reading            38  10   6  22  41  66  -25  36  2007-08        18
Birmingham         38   8  11  19  46  62  -16  35  2007-08        19
Derby County       38   1   8  29  20  89  -69  11  2007-08        20

In [19]:
t08 = "https://es.wikipedia.org/wiki/Premier_League_2008-09"
s08 = pd.read_html(t08)
df08=s08[5]
df08['Diferencia'] = df08['GF'] - df08['GC']
df08=df08[['Equipo', 'PJ','G', 'E','P','GF', 'GC', 'Diferencia','Pts.']].copy()
df08.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df08.at[0,'Team']="Manchester United" 
df08.at[6,'Team']="Fulham" 
df08['Season'] = "2008-09"
df08['Standing'] = df08.index + 1
df08=df08.set_index('Team')
print(df08.info())
df08

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester United to West Bromwich Albion
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                      GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester United     38  28   6   4  68  24   44  90  2008-09         1
Liverpool             38  25  11   2  77  27   50  86  2008-09         2
Chelsea               38  25   8   5  68  24   44  83  2008-09         3
Arsenal               38  20  12   6  68  37   31  72  2008-09         4
Stoke City            38  17  12   9  55  37   18  63  2008-09         5
Aston Villa           38  17  11  10  54  48    6  62  2008-09         6
Fulham                38  14  11  13  39  34    5  53  2008-09         7
Tottenham Hotspur     38  14   9  15  45  45    0  51  2008-09         8
West Ham United       38  14   9  15  42  45   -3  51  2008-09         9
Manchester City       38  15   5  18  58  50    8  50  2008-09        10
Wigan Athletic        38  12   9  17  35  45  -10  45  2008-09        11
Everton               38  12   9  17  38  55  -17  45  2008-09        12
Bolton Wanderers      38  11   8  19  41  53  -12  41  2008-09        13
Portsmouth            38  10  11  17  38  57  -19  41  2008-09        14
Blackburn Rovers      38  10  11  17  40  60  -20  41  2008-09        15
Sunderland            38   9   9  20  34  54  -20  36  2008-09        16
Hull City             38   8  11  19  39  64  -25  35  2008-09        17
Newcastle United      38   7  13  18  40  59  -19  34  2008-09        18
Middlesbrough         38   7  11  20  28  57  -29  32  2008-09        19
West Bromwich Albion  38   8   8  22  36  67  -31  32  2008-09        20

In [20]:
t09 = "https://es.wikipedia.org/wiki/Premier_League_2009-10"
s09 = pd.read_html(t09)
df09=s09[6]
df09['Pts.'] = (3*df09['PG']) + (1*df09['PE'])
df09=df09[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Pts.']].copy()
df09.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df09.at[1,'Team']="Manchester United" 
df09.at[2,'Team']="Arsenal" 
df09.at[3,'Team']="Tottenham Hotspur" 
df09.at[4,'Team']="Manchester City" 
df09.at[5,'Team']="Aston Villa" 
df09.at[6,'Team']="Liverpool" 
df09.at[0,'Team']="Chelsea" 
df09.at[17,'Team']="Burnley" 
df09.at[18,'Team']="Hull City" 
df09.at[19,'Team']="Portsmouth" 
df09['Season'] = "2009-10"
df09['Standing'] = df09.index + 1
df09=df09.set_index('Team')
print(df09.info())
df09

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Chelsea to Portsmouth
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                   GP   W   L   D   GF  GA  Dif   P   Season  Standing
Team
Chelsea            38  27   5   6  103  32   71  86  2009-10         1
Manchester United  38  27   4   7   86  28   58  85  2009-10         2
Arsenal            38  23   6   9   83  41   42  75  2009-10         3
Tottenham Hotspur  38  21   7  10   67  41   26  70  2009-10         4
Manchester City    38  18  13   7   73  45   28  67  2009-10         5
Aston Villa        38  17  13   8   52  39   13  64  2009-10         6
Liverpool          38  18   9  11   61  35   26  63  2009-10         7
Everton            38  16  13   9   60  49   11  61  2009-10         8
Birmingham City    38  13  11  14   38  47   -9  50  2009-10         9
Blackburn Rovers   38  13  11  14   41  55  -14  50  2009-10        10
Stoke City         38  11  14  13   34  48  -14  47  2009-10        11
Fulham             38  12  10  16   39  46   -7  46  2009-10        12
Sunderland         38  11  11  16   48  56   -8  44  2009-10        13
Bolton Wanderers   38  10   9  19   42  67  -25  39  2009-10        14
Wolverhampton      38   9  11  18   32  56  -24  38  2009-10        15
Wigan Athletic     38   9   9  20   37  79  -42  36  2009-10        16
West Ham United    38   8  11  19   47  66  -19  35  2009-10        17
Burnley            38   8   6  24   42  82  -40  30  2009-10        18
Hull City          38   6  12  20   34  75  -41  30  2009-10        19
Portsmouth         38   7   7  24   34  66  -32  28  2009-10        20

In [21]:
t10 = "https://es.wikipedia.org/wiki/Premier_League_2010-11"
s10 = pd.read_html(t10)
df10=s10[8]
df10['Diferencia'] = df10['GF'] - df10['GC']
df10=df10[['Equipo', 'PJ','G', 'E','P','GF', 'GC', 'Diferencia','Pts.']].copy()
df10.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df10.at[0,'Team']="Manchester United" 
df10.at[7,'Team']="Fulham" 
df10.at[12,'Team']="Stoke City" 
df10.at[17,'Team']="Birmingham City" 
df10['Season'] = "2010-11"
df10['Standing'] = df10.index + 1
df10=df10.set_index('Team')
print(df10.info())
df10

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester United to West Ham United
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                         GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester United        38  23  11   4  78  37   41  80  2010-11         1
Chelsea                  38  21   8   9  69  33   36  71  2010-11         2
Manchester City          38  21   8   9  60  33   27  71  2010-11         3
Arsenal                  38  19  11   8  72  43   29  68  2010-11         4
Tottenham Hotspur        38  16  14   8  55  46    9  62  2010-11         5
Liverpool                38  17   7  14  59  44   15  58  2010-11         6
Everton                  38  13  15  10  51  45    6  54  2010-11         7
Fulham                   38  11  16  11  49  43    6  49  2010-11         8
Aston Villa              38  12  12  14  48  59  -11  48  2010-11         9
Sunderland               38  12  11  15  45  56  -11  47  2010-11        10
West Bromwich Albion     38  12  11  15  56  71  -15  47  2010-11        11
Newcastle United         38  11  13  14  56  57   -1  46  2010-11        12
Stoke City               38  13   7  18  46  48   -2  46  2010-11        13
Bolton Wanderers         38  12  10  16  52  56   -4  46  2010-11        14
Blackburn Rovers         38  11  10  17  46  59  -13  43  2010-11        15
Wigan Athletic           38   9  15  14  40  61  -21  42  2010-11        16
Wolverhampton Wanderers  38  11   7  20  46  66  -20  40  2010-11        17
Birmingham City          38   8  15  15  37  58  -21  39  2010-11        18
Blackpool                38  10   9  19  55  78  -23  39  2010-11        19
West Ham United          38   7  12  19  43  70  -27  33  2010-11        20

In [22]:
t11 = "https://es.wikipedia.org/wiki/Premier_League_2011-12"
s11 = pd.read_html(t11)
df11=s11[9]
df11=df11[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Pts.']].copy()
df11.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df11.at[0,'Team']="Manchester City"
df11.at[5,'Team']="Chelsea"
df11.at[7,'Team']="Liverpool"
df11['Season'] = "2011-12"
df11['Standing'] = df11.index + 1
df11=df11.set_index('Team')
print(df11.info())
df11

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester City to Wolverhampton Wanderers
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                         GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester City          38  28   5   5  93  29   64  89  2011-12         1
Manchester United        38  28   5   5  89  33   56  89  2011-12         2
Arsenal                  38  21   7  10  74  49   25  70  2011-12         3
Tottenham Hotspur        38  20   9   9  66  41   25  69  2011-12         4
Newcastle United         38  19   8  11  56  51    5  65  2011-12         5
Chelsea                  38  18  10  10  65  46   19  64  2011-12         6
Everton                  38  15  11  12  50  40   10  56  2011-12         7
Liverpool                38  14  10  14  47  40    7  52  2011-12         8
Fulham                   38  14  10  14  48  51   -3  52  2011-12         9
West Bromwich Albion     38  13   8  17  45  52   -7  47  2011-12        10
Swansea City             38  12  11  15  44  51   -7  47  2011-12        11
Norwich City             38  12  11  15  52  66  -14  47  2011-12        12
Sunderland               38  11  12  15  45  46   -1  45  2011-12        13
Stoke City               38  11  12  15  36  53  -17  45  2011-12        14
Wigan Athletic           38  11  10  17  42  62  -20  43  2011-12        15
Aston Villa              38   7  17  14  37  53  -16  38  2011-12        16
Queens Park Rangers      38  10   7  21  43  66  -23  37  2011-12        17
Bolton Wanderers         38  10   6  22  46  77  -31  36  2011-12        18
Blackburn Rovers         38   8   7  23  48  78  -30  31  2011-12        19
Wolverhampton Wanderers  38   5  10  23  40  82  -42  25  2011-12        20

In [23]:
t12 = "https://es.wikipedia.org/wiki/Premier_League_2012-13"
s12 = pd.read_html(t12)
df12=s12[9]
df12['Diferencia'] = df12['GF'] - df12['GC']
df12=df12[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Diferencia','PTS']].copy()
df12.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df12.at[0,'Team']="Manchester United" 
df12.at[17,'Team']="Wigan Athletic" 
df12.at[18,'Team']="Reading" 
df12.at[19,'Team']="Queens Park Rangers" 
df12['Season'] = "2012-13"
df12['Standing'] = df12.index + 1
df12=df12.set_index('Team')
print(df12.info())
df12

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester United to Queens Park Rangers
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                      GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester United     38  28   5   5  86  43   43  89  2012-13         1
Manchester City       38  23   9   6  66  34   32  78  2012-13         2
Chelsea               38  22   9   7  75  39   36  75  2012-13         3
Arsenal               38  21  10   7  72  37   35  73  2012-13         4
Tottenham Hotspur     38  21   9   8  66  46   20  72  2012-13         5
Everton               38  16  15   7  55  40   15  63  2012-13         6
Liverpool             38  16  13   9  71  43   28  61  2012-13         7
Stoke City            38  17   8  16  53  57   -4  59  2012-13         8
Swansea City          38  11  13  14  47  51   -4  46  2012-13         9
West Ham United       38  12  10  16  45  53   -8  46  2012-13        10
Norwich City          38  10  14  14  41  58  -17  44  2012-13        11
Fulham                38  11  10  17  50  60  -10  43  2012-13        12
West Bromwich Albion  38   9  15  14  34  45  -11  42  2012-13        13
Southampton           38   9  14  15  49  60  -11  41  2012-13        14
Aston Villa           38  10  11  17  47  69  -22  41  2012-13        15
Newcastle United      38  11   8  19  45  68  -23  41  2012-13        16
Sunderland            38   9  12  17  41  54  -13  39  2012-13        17
Wigan Athletic        38   9   9  20  46  73  -27  36  2012-13        18
Reading               38   6  10  22  43  73  -30  28  2012-13        19
Queens Park Rangers   38   4  13  21  30  60  -30  25  2012-13        20

In [24]:
t13 = "https://es.wikipedia.org/wiki/Premier_League_2013-14"
s13 = pd.read_html(t13)
df13=s13[9]
df13['Diferencia'] = df13['GF'] - df13['GC']
df13=df13[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Diferencia','PTS']].copy()
df13.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df13.at[0,'Team']="Manchester City" 
df13.at[17,'Team']="Norwich City" 
df13.at[18,'Team']="Fulham" 
df13.at[19,'Team']="Cardiff City" 
df13['Season'] = "2013-14"
df13['Standing'] = df13.index + 1
df13=df13.set_index('Team')
print(df13.info())
df13

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester City to Cardiff City
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                      GP   W   L   D   GF  GA  Dif   P   Season  Standing
Team
Manchester City       38  27   5   6  102  37   65  86  2013-14         1
Liverpool             38  26   6   6  102  50   52  84  2013-14         2
Chelsea               38  25   7   6   71  28   43  82  2013-14         3
Arsenal               38  24   7   7   68  41   27  79  2013-14         4
Everton               38  21   9   8   61  39   22  72  2013-14         5
Tottenham Hotspur     38  21   6  11   55  51    4  69  2013-14         6
Manchester United     38  19   7  12   64  43   21  64  2013-14         7
Southampton           38  15  11  12   54  46    8  56  2013-14         8
Stoke City            38  13  11  14   45  52   -7  50  2013-14         9
Newcastle United      38  15   4  19   43  59  -16  49  2013-14        10
Crystal Palace        38  13   6  19   33  48  -15  45  2013-14        11
Swansea City          38  11   9  18   54  54    0  42  2013-14        12
West Ham United       38  11   7  20   40  51  -11  40  2013-14        13
Sunderland            38  10   8  20   41  60  -19  38  2013-14        14
Aston Villa           38  10   8  20   39  61  -22  38  2013-14        15
Hull City             38  10   7  21   38  53  -15  37  2013-14        16
West Bromwich Albion  38   7  15  16   43  59  -16  36  2013-14        17
Norwich City          38   8   9  21   28  62  -34  33  2013-14        18
Fulham                38   9   5  24   40  85  -45  32  2013-14        19
Cardiff City          38   7   9  22   32  74  -42  30  2013-14        20

In [25]:
t14 = "https://es.wikipedia.org/wiki/Premier_League_2014-15"
s14 = pd.read_html(t14)
df14=s14[9]
df14['Diferencia'] = df14['GF'] - df14['GC']
df14=df14[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Diferencia','PTS']].copy()
df14.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df14.at[0,'Team']="Chelsea" 
df14.at[17,'Team']="Hull City" 
df14.at[18,'Team']="Burnley" 
df14.at[19,'Team']="Queens Park Rangers" 
df14['Season'] = "2014-15"
df14['Standing'] = df14.index + 1
df14=df14.set_index('Team')
print(df14.info())
df14

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Chelsea to Queens Park Rangers
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                      GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Chelsea               38  26   9   3  73  32   41  87  2014-15         1
Manchester City       38  24   7   7  83  38   45  79  2014-15         2
Arsenal               38  22   9   7  71  36   35  75  2014-15         3
Manchester United     38  20  10   8  62  37   25  70  2014-15         4
Tottenham Hotspur     38  19   7  12  58  53    5  64  2014-15         5
Liverpool             38  18   8  12  52  48    4  62  2014-15         6
Southampton           38  18   6  14  54  33   21  60  2014-15         7
Swansea City          38  16   8  14  46  49   -3  56  2014-15         8
Stoke City            38  15   9  14  48  45    3  54  2014-15         9
Crystal Palace        38  13   9  16  47  51   -4  48  2014-15        10
Everton               38  12  11  15  48  50   -2  47  2014-15        11
West Ham United       38  12  11  15  44  47   -3  47  2014-15        12
West Bromwich Albion  38  11  11  16  38  51  -13  44  2014-15        13
Leicester City        38  11   8  19  46  55   -9  41  2014-15        14
Newcastle United      38  10   9  19  40  63  -23  39  2014-15        15
Sunderland            38   7  17  14  31  53  -22  38  2014-15        16
Aston Villa           38  10   8  20  31  57  -26  38  2014-15        17
Hull City             38   8  11  19  33  51  -18  35  2014-15        18
Burnley               38   7  12  19  28  53  -25  33  2014-15        19
Queens Park Rangers   38   8   6  24  42  73  -31  30  2014-15        20

In [26]:
t15 = "https://es.wikipedia.org/wiki/Premier_League_2015-16"
s15 = pd.read_html(t15)
df15=s15[9]
df15['Diferencia'] = df15['GF'] - df15['GC']
df15=df15[['Equipo', 'PJ','G', 'E','P','GF', 'GC', 'Diferencia','Pts.']].copy()
df15.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df15.at[0,'Team']="Leicester City" 
df15['Season'] = "2015-16"
df15['Standing'] = df15.index + 1
df15=df15.set_index('Team')
print(df15.info())
df15

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Leicester City to Aston Villa
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                      GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Leicester City        38  23  12   3  68  36   32  81  2015-16         1
Arsenal               38  20  11   7  65  36   29  71  2015-16         2
Tottenham Hotspur     38  19  13   6  69  35   34  70  2015-16         3
Manchester City       38  19   9  10  71  41   30  66  2015-16         4
Manchester United     38  19   9  10  49  35   14  66  2015-16         5
Southampton           38  18   9  11  59  41   18  63  2015-16         6
West Ham United       38  16  14   8  65  51   14  62  2015-16         7
Liverpool             38  16  12  10  63  50   13  60  2015-16         8
Stoke City            38  14   9  15  41  55  -14  51  2015-16         9
Chelsea               38  12  14  12  59  53    6  50  2015-16        10
Everton               38  11  14  13  59  55    4  47  2015-16        11
Swansea City          38  12  11  15  42  52  -10  47  2015-16        12
Watford               38  12   9  17  40  50  -10  45  2015-16        13
West Bromwich Albion  38  10  13  15  34  48  -14  43  2015-16        14
Crystal Palace        38  11   9  18  39  51  -12  42  2015-16        15
Bournemouth           38  11   9  18  45  67  -22  42  2015-16        16
Sunderland            38   9  12  17  48  62  -14  39  2015-16        17
Newcastle United      38   9  10  19  44  65  -21  37  2015-16        18
Norwich City          38   9   7  22  39  67  -28  34  2015-16        19
Aston Villa           38   3   8  27  27  76  -49  17  2015-16        20

In [27]:
t16 = "https://es.wikipedia.org/wiki/Premier_League_2016-17"
s16 = pd.read_html(t16)
df16=s16[10]
df16=df16[['Equipo', 'PJ','PG', 'PE','PP','GF', 'GC', 'Dif.','Pts.']].copy()
df16.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df16.at[0,'Team']="Chelsea" 
df16.at[5,'Team']="Manchester United" 
df16.at[17,'Team']="Hull City" 
df16.at[18,'Team']="Middlesbrough" 
df16.at[19,'Team']="Sunderland" 
df16['Season'] = "2016-17"
df16['Standing'] = df16.index + 1
df16=df16.set_index('Team')
print(df16.info())
df16

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Chelsea to Sunderland
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                      GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Chelsea               38  30   3   5  85  33   52  93  2016-17         1
Tottenham Hotspur     38  26   8   4  86  26   60  86  2016-17         2
Manchester City       38  23   9   6  80  39   41  78  2016-17         3
Liverpool             38  22  10   6  78  42   36  76  2016-17         4
Arsenal               38  23   6   9  77  44   33  75  2016-17         5
Manchester United     38  18  15   5  54  29   25  69  2016-17         6
Everton               38  17  10  11  62  44   18  61  2016-17         7
Southampton           38  12  10  16  41  48   -7  46  2016-17         8
Bournemouth           38  12  10  16  55  67  -12  46  2016-17         9
West Bromwich Albion  38  12   9  17  43  51   -8  45  2016-17        10
West Ham United       38  12   9  17  47  64  -17  45  2016-17        11
Leicester City        38  12   8  18  48  63  -15  44  2016-17        12
Stoke City            38  11  11  16  41  56  -15  44  2016-17        13
Crystal Palace        38  12   5  21  50  63  -13  41  2016-17        14
Swansea City          38  12   5  21  45  70  -25  41  2016-17        15
Burnley               38  11   7  20  39  55  -16  40  2016-17        16
Watford               38  11   7  20  40  68  -28  40  2016-17        17
Hull City             38   9   7  22  37  80  -43  34  2016-17        18
Middlesbrough         38   5  13  20  27  53  -26  28  2016-17        19
Sunderland            38   6   6  26  29  69  -40  24  2016-17        20

In [28]:
t17 = "https://es.wikipedia.org/wiki/Premier_League_2017-18"
s17 = pd.read_html(t17)
df17=s17[10]
df17['Diferencia'] = df17['GF'] - df17['GC']
df17=df17[['Equipo', 'PJ','G', 'E','P','GF', 'GC', 'Diferencia','Pts.']].copy()
df17.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df17.at[0,'Team']="Manchester City" 
df17['Season'] = "2017-18"
df17['Standing'] = df17.index + 1
df17=df17.set_index('Team')
print(df17.info())
df17

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester City to West Bromwich Albion
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                        GP   W   L   D   GF  GA  Dif    P   Season  Standing
Team
Manchester City         38  32   4   2  106  27   79  100  2017-18         1
Manchester United       38  25   6   7   68  28   40   81  2017-18         2
Tottenham Hotspur       38  23   8   7   74  37   37   77  2017-18         3
Liverpool               38  21  12   5   84  38   46   75  2017-18         4
Chelsea                 38  21   7  10   62  38   24   70  2017-18         5
Arsenal                 38  19   6  13   74  51   23   63  2017-18         6
Burnley                 38  14  12  12   36  39   -3   54  2017-18         7
Everton                 38  13  10  15   44  58  -14   49  2017-18         8
Leicester City          38  12  11  15   56  60   -4   47  2017-18         9
Newcastle United        38  12   8  18   39  47   -8   44  2017-18        10
Crystal Palace          38  11  11  16   45  55  -10   44  2017-18        11
Bournemouth             38  11  11  16   45  61  -16   44  2017-18        12
West Ham United         38  10  12  16   48  68  -20   42  2017-18        13
Watford                 38  11   8  19   44  64  -20   41  2017-18        14
Brighton & Hove Albion  38   9  13  16   34  54  -20   40  2017-18        15
Huddersfield Town       38   9  10  19   28  58  -30   37  2017-18        16
Southampton             38   7  15  16   37  56  -19   36  2017-18        17
Swansea City            38   8   9  21   28  56  -28   33  2017-18        18
Stoke City              38   7  12  19   35  68  -33   33  2017-18        19
West Bromwich Albion    38   6  13  19   31  56  -25   31  2017-18        20

In [29]:
t18 = "https://es.wikipedia.org/wiki/Premier_League_2018-19"
s18 = pd.read_html(t18)
df18=s18[10]
df18['Diferencia'] = df18['GF'] - df18['GC']
df18=df18[['Equipo', 'PJ','G', 'E','P','GF', 'GC', 'Diferencia','Pts.']].copy()
df18.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df18.at[0,'Team']="Manchester City"
df18.at[5,'Team']="Manchester United"
df18.at[6,'Team']="Wolverhampton Wanderers"
df18.at[17,'Team']="Cardiff City"
df18.at[18,'Team']="Fulham"
df18.at[19,'Team']="Huddersfield Town"
df18['Season'] = "2018-19"
df18['Standing'] = df18.index + 1
df18=df18.set_index('Team')
print(df18.info())
df18

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Manchester City to Huddersfield Town
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                         GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Manchester City          38  32   2   4  95  23   72  98  2018-19         1
Liverpool                38  30   7   1  89  22   67  97  2018-19         2
Chelsea                  38  21   9   8  63  39   24  72  2018-19         3
Tottenham Hotspur        38  23   2  13  67  39   28  71  2018-19         4
Arsenal                  38  21   7  10  73  51   22  70  2018-19         5
Manchester United        38  19   9  10  65  54   11  66  2018-19         6
Wolverhampton Wanderers  38  16   9  13  47  46    1  57  2018-19         7
Everton                  38  15   9  14  54  46    8  54  2018-19         8
Leicester City           38  15   7  16  51  48    3  52  2018-19         9
West Ham United          38  15   7  16  52  55   -3  52  2018-19        10
Watford                  38  14   8  16  52  59   -7  50  2018-19        11
Crystal Palace           38  14   7  17  51  53   -2  49  2018-19        12
Newcastle United         38  12   9  17  42  48   -6  45  2018-19        13
Bournemouth              38  13   6  19  56  70  -14  45  2018-19        14
Burnley                  38  11   7  20  45  68  -23  40  2018-19        15
Southampton              38   9  12  17  45  65  -20  39  2018-19        16
Brighton & Hove Albion   38   9   9  20  35  60  -25  36  2018-19        17
Cardiff City             38  10   4  24  34  69  -35  34  2018-19        18
Fulham                   38   7   5  26  34  81  -47  26  2018-19        19
Huddersfield Town        38   3   7  28  22  76  -54  16  2018-19        20

In [30]:
t19 = "https://es.wikipedia.org/wiki/Premier_League_2019-20"
s19 = pd.read_html(t19)
df19=s19[10]
df19['Diferencia'] = df19['GF'] - df19['GC']
df19=df19[['Equipo', 'PJ','G', 'E','P','GF', 'GC', 'Diferencia','Pts.']].copy()
df19.columns=['Team', 'GP','W', 'L','D','GF', 'GA', 'Dif','P']
df19.at[1,'Team']="Manchester City"
df19['Season'] = "2019-20"
df19['Standing'] = df19.index + 1
df19=df19.set_index('Team')
print(df19.info())
df19

<class 'pandas.core.frame.DataFrame'>
Index: 20 entries, Liverpool to Norwich City
Data columns (total 10 columns):
GP          20 non-null int64
W           20 non-null int64
L           20 non-null int64
D           20 non-null int64
GF          20 non-null int64
GA          20 non-null int64
Dif         20 non-null int64
P           20 non-null int64
Season      20 non-null object
Standing    20 non-null int64
dtypes: int64(9), object(1)
memory usage: 1.7+ KB
None

                         GP   W   L   D  GF  GA  Dif   P   Season  Standing
Team
Liverpool                29  27   1   1  66  21   45  82  2019-20         1
Manchester City          28  18   3   7  68  31   37  57  2019-20         2
Leicester City           29  16   5   8  58  28   30  53  2019-20         3
Chelsea                  29  14   6   9  51  39   12  48  2019-20         4
Manchester United        29  12   9   8  44  30   14  45  2019-20         5
Wolverhampton Wanderers  29  10  13   6  41  34    7  43  2019-20         6
Sheffield United         28  11  10   7  30  25    5  43  2019-20         7
Tottenham Hotspur        29  11   8  10  47  40    7  41  2019-20         8
Arsenal                  28   9  13   6  40  36    4  40  2019-20         9
Burnley                  29  11   6  12  34  40   -6  39  2019-20        10
Crystal Palace           29  10   9  10  26  32   -6  39  2019-20        11
Everton                  29  10   7  12  37  46   -9  37  2019-20        12
Newcastle United         29   9   8  12  25  41  -16  35  2019-20        13
Southampton              29  10   4  15  35  52  -17  34  2019-20        14
Brighton & Hove Albion   29   6  11  12  32  40   -8  29  2019-20        15
West Ham United          29   7   6  16  35  50  -15  27  2019-20        16
Watford                  29   6   9  14  27  44  -17  27  2019-20        17
Bournemouth              29   7   6  16  29  47  -18  27  2019-20        18
Aston Villa              28   7   4  17  34  56  -22  25  2019-20        19
Norwich City             29   5   6  18  25  52  -27  21  2019-20        20

In [ ]:
rds_connection_string = "postgres:2311@localhost:5432/EPL9219"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [ ]:
engine.table_names()

In [ ]:
pd.read_sql_query('select * from s92', con=engine).head(10)

In [ ]:
df92.to_sql(name='s92', con=engine, if_exists='append', index=True)
df93.to_sql(name='s93', con=engine, if_exists='append', index=True)
df94.to_sql(name='s94', con=engine, if_exists='append', index=True)
df95.to_sql(name='s95', con=engine, if_exists='append', index=True)
df96.to_sql(name='s96', con=engine, if_exists='append', index=True)
df97.to_sql(name='s97', con=engine, if_exists='append', index=True)
df98.to_sql(name='s98', con=engine, if_exists='append', index=True)
df99.to_sql(name='s99', con=engine, if_exists='append', index=True)
df00.to_sql(name='s00', con=engine, if_exists='append', index=True)
df01.to_sql(name='s01', con=engine, if_exists='append', index=True)
df02.to_sql(name='s02', con=engine, if_exists='append', index=True)
df03.to_sql(name='s03', con=engine, if_exists='append', index=True)
df04.to_sql(name='s04', con=engine, if_exists='append', index=True)
df05.to_sql(name='s05', con=engine, if_exists='append', index=True)
df06.to_sql(name='s06', con=engine, if_exists='append', index=True)
df07.to_sql(name='s07', con=engine, if_exists='append', index=True)
df08.to_sql(name='s08', con=engine, if_exists='append', index=True)
df09.to_sql(name='s09', con=engine, if_exists='append', index=True)
df10.to_sql(name='s10', con=engine, if_exists='append', index=True)
df11.to_sql(name='s11', con=engine, if_exists='append', index=True)
df12.to_sql(name='s12', con=engine, if_exists='append', index=True)
df13.to_sql(name='s13', con=engine, if_exists='append', index=True)
df14.to_sql(name='s14', con=engine, if_exists='append', index=True)
df15.to_sql(name='s15', con=engine, if_exists='append', index=True)
df16.to_sql(name='s16', con=engine, if_exists='append', index=True)
df17.to_sql(name='s17', con=engine, if_exists='append', index=True)
df18.to_sql(name='s18', con=engine, if_exists='append', index=True)
df19.to_sql(name='s19', con=engine, if_exists='append', index=True)

In [ ]:
DFs = pd.concat([df92, df93, df94, df95, df96, df97, df98, df99, df00, df01, df02, df03, df04, df05, df06, df07, df08, df09, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19])

In [ ]:
DFs.head()

In [ ]:
DFs.to_csv('All92_19.csv')

In [31]:
df92.to_csv('df92.csv')